src/XSD/XMLSchema.xsd

<!-- XML Schema schema for XML Schemas: Part 1: Structures -->
<!-- Note this schema is NOT the normative structures schema. -->
<!-- The prose copy in the structures REC is the normative -->
<!-- version (which shouldn't differ from this one except for -->
<!-- this comment and entity expansions, but just in case -->
<!--
provide ID type information even for parsers which only read the
internal subset
-->
<!-- keep this schema XML1.0 DTD valid -->
<!--
Make sure that processors that do not read the external
subset will know about the various IDs we declare
-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" targetNamespace="http://www.w3.org/2001/XMLSchema" blockDefault="#all" elementFormDefault="qualified" version="1.0" xml:lang="EN">
	<annotation>
		<documentation>
			Part 1 version: Id: structures.xsd,v 1.2 2004/01/15 11:34:25 ht Exp Part 2 version: Id: datatypes.xsd,v 1.3 2004/01/23 18:11:13 ht Exp
		</documentation>
	</annotation>
	<annotation>
		<documentation source="http://www.w3.org/TR/2004/PER-xmlschema-1-20040318/structures.html">
			The schema corresponding to this document is normative, with respect to the syntactic constraints it expresses in the XML Schema language. The documentation (within
			<documentation>
				elements) below, is not normative, but rather highlights important aspects of the W3C Recommendation of which this is a part
			</documentation>
		</documentation>
		<annotation>
			<documentation>
				The simpleType element and all of its members are defined towards the end of this schema document
			</documentation>
		</annotation>
		<import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd">
			<annotation>
				<documentation>
					Get access to the xml: attribute groups for xml:lang as declared on 'schema' and 'documentation' below
				</documentation>
			</annotation>
		</import>
		<complexType name="openAttrs">
			<annotation>
				<documentation>
					This type is extended by almost all schema types to allow attributes from other namespaces to be added to user schemas.
				</documentation>
			</annotation>
			<complexContent>
				<restriction base="xs:anyType">
					<anyAttribute namespace="##other" processContents="lax" />
				</restriction>
			</complexContent>
		</complexType>
		<complexType name="annotated">
			<annotation>
				<documentation>
					This type is extended by all types which allow annotation other than
					<schema>
						itself
					</schema>
				</documentation>
				<complexContent>
					<extension base="xs:openAttrs">
						<sequence>
							<element ref="xs:annotation" minOccurs="0" />
						</sequence>
						<attribute name="id" type="xs:ID" />
					</extension>
				</complexContent>
			</annotation>
			<group name="schemaTop">
				<annotation>
					<documentation>
						This group is for the elements which occur freely at the top level of schemas. All of their types are based on the "annotated" type by extension.
					</documentation>
				</annotation>
				<choice>
					<group ref="xs:redefinable" />
					<element ref="xs:element" />
					<element ref="xs:attribute" />
					<element ref="xs:notation" />
				</choice>
			</group>
			<group name="redefinable">
				<annotation>
					<documentation>
						This group is for the elements which can self-redefine (see
						<redefine>
							below).
						</redefine>
					</documentation>
					<choice>
						<element ref="xs:simpleType" />
						<element ref="xs:complexType" />
						<element ref="xs:group" />
						<element ref="xs:attributeGroup" />
					</choice>
				</annotation>
				<simpleType name="formChoice">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
					</annotation>
					<restriction base="xs:NMTOKEN">
						<enumeration value="qualified" />
						<enumeration value="unqualified" />
					</restriction>
				</simpleType>
				<simpleType name="reducedDerivationControl">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
					</annotation>
					<restriction base="xs:derivationControl">
						<enumeration value="extension" />
						<enumeration value="restriction" />
					</restriction>
				</simpleType>
				<simpleType name="derivationSet">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
						<documentation>
							#all or (possibly empty) subset of {extension, restriction}
						</documentation>
					</annotation>
					<union>
						<simpleType>
							<restriction base="xs:token">
								<enumeration value="#all" />
							</restriction>
						</simpleType>
						<simpleType>
							<list itemType="xs:reducedDerivationControl" />
						</simpleType>
					</union>
				</simpleType>
				<simpleType name="typeDerivationControl">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
					</annotation>
					<restriction base="xs:derivationControl">
						<enumeration value="extension" />
						<enumeration value="restriction" />
						<enumeration value="list" />
						<enumeration value="union" />
					</restriction>
				</simpleType>
				<simpleType name="fullDerivationSet">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
						<documentation>
							#all or (possibly empty) subset of {extension, restriction, list, union}
						</documentation>
					</annotation>
					<union>
						<simpleType>
							<restriction base="xs:token">
								<enumeration value="#all" />
							</restriction>
						</simpleType>
						<simpleType>
							<list itemType="xs:typeDerivationControl" />
						</simpleType>
					</union>
				</simpleType>
				<element name="schema" id="schema">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-schema" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:openAttrs">
								<sequence>
									<choice minOccurs="0" maxOccurs="unbounded">
										<element ref="xs:include" />
										<element ref="xs:import" />
										<element ref="xs:redefine" />
										<element ref="xs:annotation" />
									</choice>
									<sequence minOccurs="0" maxOccurs="unbounded">
										<group ref="xs:schemaTop" />
										<element ref="xs:annotation" minOccurs="0" maxOccurs="unbounded" />
									</sequence>
								</sequence>
								<attribute name="targetNamespace" type="xs:anyURI" />
								<attribute name="version" type="xs:token" />
								<attribute name="finalDefault" type="xs:fullDerivationSet" use="optional" default="" />
								<attribute name="blockDefault" type="xs:blockSet" use="optional" default="" />
								<attribute name="attributeFormDefault" type="xs:formChoice" use="optional" default="unqualified" />
								<attribute name="elementFormDefault" type="xs:formChoice" use="optional" default="unqualified" />
								<attribute name="id" type="xs:ID" />
								<attribute ref="xml:lang" />
							</extension>
						</complexContent>
					</complexType>
					<key name="element">
						<selector xpath="xs:element" />
						<field xpath="@name" />
					</key>
					<key name="attribute">
						<selector xpath="xs:attribute" />
						<field xpath="@name" />
					</key>
					<key name="type">
						<selector xpath="xs:complexType|xs:simpleType" />
						<field xpath="@name" />
					</key>
					<key name="group">
						<selector xpath="xs:group" />
						<field xpath="@name" />
					</key>
					<key name="attributeGroup">
						<selector xpath="xs:attributeGroup" />
						<field xpath="@name" />
					</key>
					<key name="notation">
						<selector xpath="xs:notation" />
						<field xpath="@name" />
					</key>
					<key name="identityConstraint">
						<selector xpath=".//xs:key|.//xs:unique|.//xs:keyref" />
						<field xpath="@name" />
					</key>
				</element>
				<simpleType name="allNNI">
					<annotation>
						<documentation>
							for maxOccurs
						</documentation>
					</annotation>
					<union memberTypes="xs:nonNegativeInteger">
						<simpleType>
							<restriction base="xs:NMTOKEN">
								<enumeration value="unbounded" />
							</restriction>
						</simpleType>
					</union>
				</simpleType>
				<attributeGroup name="occurs">
					<annotation>
						<documentation>
							for all particles
						</documentation>
					</annotation>
					<attribute name="minOccurs" type="xs:nonNegativeInteger" use="optional" default="1" />
					<attribute name="maxOccurs" type="xs:allNNI" use="optional" default="1" />
				</attributeGroup>
				<attributeGroup name="defRef">
					<annotation>
						<documentation>
							for element, group and attributeGroup, which both define and reference
						</documentation>
					</annotation>
					<attribute name="name" type="xs:NCName" />
					<attribute name="ref" type="xs:QName" />
				</attributeGroup>
				<group name="typeDefParticle">
					<annotation>
						<documentation>
							'complexType' uses this
						</documentation>
					</annotation>
					<choice>
						<element name="group" type="xs:groupRef" />
						<element ref="xs:all" />
						<element ref="xs:choice" />
						<element ref="xs:sequence" />
					</choice>
				</group>
				<group name="nestedParticle">
					<choice>
						<element name="element" type="xs:localElement" />
						<element name="group" type="xs:groupRef" />
						<element ref="xs:choice" />
						<element ref="xs:sequence" />
						<element ref="xs:any" />
					</choice>
				</group>
				<group name="particle">
					<choice>
						<element name="element" type="xs:localElement" />
						<element name="group" type="xs:groupRef" />
						<element ref="xs:all" />
						<element ref="xs:choice" />
						<element ref="xs:sequence" />
						<element ref="xs:any" />
					</choice>
				</group>
				<complexType name="attribute">
					<complexContent>
						<extension base="xs:annotated">
							<sequence>
								<element name="simpleType" minOccurs="0" type="xs:localSimpleType" />
							</sequence>
							<attributeGroup ref="xs:defRef" />
							<attribute name="type" type="xs:QName" />
							<attribute name="use" use="optional" default="optional">
								<simpleType>
									<restriction base="xs:NMTOKEN">
										<enumeration value="prohibited" />
										<enumeration value="optional" />
										<enumeration value="required" />
									</restriction>
								</simpleType>
							</attribute>
							<attribute name="default" type="xs:string" />
							<attribute name="fixed" type="xs:string" />
							<attribute name="form" type="xs:formChoice" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="topLevelAttribute">
					<complexContent>
						<restriction base="xs:attribute">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<element name="simpleType" minOccurs="0" type="xs:localSimpleType" />
							</sequence>
							<attribute name="ref" use="prohibited" />
							<attribute name="form" use="prohibited" />
							<attribute name="use" use="prohibited" />
							<attribute name="name" use="required" type="xs:NCName" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<group name="attrDecls">
					<sequence>
						<choice minOccurs="0" maxOccurs="unbounded">
							<element name="attribute" type="xs:attribute" />
							<element name="attributeGroup" type="xs:attributeGroupRef" />
						</choice>
						<element ref="xs:anyAttribute" minOccurs="0" />
					</sequence>
				</group>
				<element name="anyAttribute" type="xs:wildcard" id="anyAttribute">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-anyAttribute" />
					</annotation>
				</element>
				<group name="complexTypeModel">
					<choice>
						<element ref="xs:simpleContent" />
						<element ref="xs:complexContent" />
						<sequence>
							<annotation>
								<documentation>
									This branch is short for
									<complexContent>
										<restriction base="xs:anyType">
											...
										</restriction>
									</complexContent>
								</documentation>
							</annotation>
							<group ref="xs:typeDefParticle" minOccurs="0" />
							<group ref="xs:attrDecls" />
						</sequence>
					</choice>
				</group>
				<complexType name="complexType" abstract="true">
					<complexContent>
						<extension base="xs:annotated">
							<group ref="xs:complexTypeModel" />
							<attribute name="name" type="xs:NCName">
								<annotation>
									<documentation>
										Will be restricted to required or forbidden
									</documentation>
								</annotation>
							</attribute>
							<attribute name="mixed" type="xs:boolean" use="optional" default="false">
								<annotation>
									<documentation>
										Not allowed if simpleContent child is chosen. May be overriden by setting on complexContent child.
									</documentation>
								</annotation>
							</attribute>
							<attribute name="abstract" type="xs:boolean" use="optional" default="false" />
							<attribute name="final" type="xs:derivationSet" />
							<attribute name="block" type="xs:derivationSet" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="topLevelComplexType">
					<complexContent>
						<restriction base="xs:complexType">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:complexTypeModel" />
							</sequence>
							<attribute name="name" type="xs:NCName" use="required" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="localComplexType">
					<complexContent>
						<restriction base="xs:complexType">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:complexTypeModel" />
							</sequence>
							<attribute name="name" use="prohibited" />
							<attribute name="abstract" use="prohibited" />
							<attribute name="final" use="prohibited" />
							<attribute name="block" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="restrictionType">
					<complexContent>
						<extension base="xs:annotated">
							<sequence>
								<choice minOccurs="0">
									<group ref="xs:typeDefParticle" />
									<group ref="xs:simpleRestrictionModel" />
								</choice>
								<group ref="xs:attrDecls" />
							</sequence>
							<attribute name="base" type="xs:QName" use="required" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="complexRestrictionType">
					<complexContent>
						<restriction base="xs:restrictionType">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="0">
									<annotation>
										<documentation>
											This choice is added simply to make this a valid restriction per the REC
										</documentation>
									</annotation>
									<group ref="xs:typeDefParticle" />
								</choice>
								<group ref="xs:attrDecls" />
							</sequence>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="extensionType">
					<complexContent>
						<extension base="xs:annotated">
							<sequence>
								<group ref="xs:typeDefParticle" minOccurs="0" />
								<group ref="xs:attrDecls" />
							</sequence>
							<attribute name="base" type="xs:QName" use="required" />
						</extension>
					</complexContent>
				</complexType>
				<element name="complexContent" id="complexContent">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-complexContent" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<choice>
									<element name="restriction" type="xs:complexRestrictionType" />
									<element name="extension" type="xs:extensionType" />
								</choice>
								<attribute name="mixed" type="xs:boolean">
									<annotation>
										<documentation>
											Overrides any setting on complexType parent.
										</documentation>
									</annotation>
								</attribute>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<complexType name="simpleRestrictionType">
					<complexContent>
						<restriction base="xs:restrictionType">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="0">
									<annotation>
										<documentation>
											This choice is added simply to make this a valid restriction per the REC
										</documentation>
									</annotation>
									<group ref="xs:simpleRestrictionModel" />
								</choice>
								<group ref="xs:attrDecls" />
							</sequence>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="simpleExtensionType">
					<complexContent>
						<restriction base="xs:extensionType">
							<sequence>
								<annotation>
									<documentation>
										No typeDefParticle group reference
									</documentation>
								</annotation>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:attrDecls" />
							</sequence>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="simpleContent" id="simpleContent">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-simpleContent" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<choice>
									<element name="restriction" type="xs:simpleRestrictionType" />
									<element name="extension" type="xs:simpleExtensionType" />
								</choice>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="complexType" type="xs:topLevelComplexType" id="complexType">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-complexType" />
					</annotation>
				</element>
				<simpleType name="blockSet">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
						<documentation>
							#all or (possibly empty) subset of {substitution, extension, restriction}
						</documentation>
					</annotation>
					<union>
						<simpleType>
							<restriction base="xs:token">
								<enumeration value="#all" />
							</restriction>
						</simpleType>
						<simpleType>
							<list>
								<simpleType>
									<restriction base="xs:derivationControl">
										<enumeration value="extension" />
										<enumeration value="restriction" />
										<enumeration value="substitution" />
									</restriction>
								</simpleType>
							</list>
						</simpleType>
					</union>
				</simpleType>
				<complexType name="element" abstract="true">
					<annotation>
						<documentation>
							The element element can be used either at the top level to define an element-type binding globally, or within a content model to either reference a globally-defined element or type or declare an element-type binding locally. The ref form is not allowed at the top level.
						</documentation>
					</annotation>
					<complexContent>
						<extension base="xs:annotated">
							<sequence>
								<choice minOccurs="0">
									<element name="simpleType" type="xs:localSimpleType" />
									<element name="complexType" type="xs:localComplexType" />
								</choice>
								<group ref="xs:identityConstraint" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
							<attributeGroup ref="xs:defRef" />
							<attribute name="type" type="xs:QName" />
							<attribute name="substitutionGroup" type="xs:QName" />
							<attributeGroup ref="xs:occurs" />
							<attribute name="default" type="xs:string" />
							<attribute name="fixed" type="xs:string" />
							<attribute name="nillable" type="xs:boolean" use="optional" default="false" />
							<attribute name="abstract" type="xs:boolean" use="optional" default="false" />
							<attribute name="final" type="xs:derivationSet" />
							<attribute name="block" type="xs:blockSet" />
							<attribute name="form" type="xs:formChoice" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="topLevelElement">
					<complexContent>
						<restriction base="xs:element">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="0">
									<element name="simpleType" type="xs:localSimpleType" />
									<element name="complexType" type="xs:localComplexType" />
								</choice>
								<group ref="xs:identityConstraint" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
							<attribute name="ref" use="prohibited" />
							<attribute name="form" use="prohibited" />
							<attribute name="minOccurs" use="prohibited" />
							<attribute name="maxOccurs" use="prohibited" />
							<attribute name="name" use="required" type="xs:NCName" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="localElement">
					<complexContent>
						<restriction base="xs:element">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="0">
									<element name="simpleType" type="xs:localSimpleType" />
									<element name="complexType" type="xs:localComplexType" />
								</choice>
								<group ref="xs:identityConstraint" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
							<attribute name="substitutionGroup" use="prohibited" />
							<attribute name="final" use="prohibited" />
							<attribute name="abstract" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="element" type="xs:topLevelElement" id="element">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-element" />
					</annotation>
				</element>
				<complexType name="group" abstract="true">
					<annotation>
						<documentation>
							group type for explicit groups, named top-level groups and group references
						</documentation>
					</annotation>
					<complexContent>
						<extension base="xs:annotated">
							<group ref="xs:particle" minOccurs="0" maxOccurs="unbounded" />
							<attributeGroup ref="xs:defRef" />
							<attributeGroup ref="xs:occurs" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="realGroup">
					<complexContent>
						<restriction base="xs:group">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="0" maxOccurs="1">
									<element ref="xs:all" />
									<element ref="xs:choice" />
									<element ref="xs:sequence" />
								</choice>
							</sequence>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="namedGroup">
					<complexContent>
						<restriction base="xs:realGroup">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="1" maxOccurs="1">
									<element name="all">
										<complexType>
											<complexContent>
												<restriction base="xs:all">
													<group ref="xs:allModel" />
													<attribute name="minOccurs" use="prohibited" />
													<attribute name="maxOccurs" use="prohibited" />
													<anyAttribute namespace="##other" processContents="lax" />
												</restriction>
											</complexContent>
										</complexType>
									</element>
									<element name="choice" type="xs:simpleExplicitGroup" />
									<element name="sequence" type="xs:simpleExplicitGroup" />
								</choice>
							</sequence>
							<attribute name="name" use="required" type="xs:NCName" />
							<attribute name="ref" use="prohibited" />
							<attribute name="minOccurs" use="prohibited" />
							<attribute name="maxOccurs" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="groupRef">
					<complexContent>
						<restriction base="xs:realGroup">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
							</sequence>
							<attribute name="ref" use="required" type="xs:QName" />
							<attribute name="name" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="explicitGroup">
					<annotation>
						<documentation>
							group type for the three kinds of group
						</documentation>
					</annotation>
					<complexContent>
						<restriction base="xs:group">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:nestedParticle" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
							<attribute name="name" type="xs:NCName" use="prohibited" />
							<attribute name="ref" type="xs:QName" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="simpleExplicitGroup">
					<complexContent>
						<restriction base="xs:explicitGroup">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:nestedParticle" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
							<attribute name="minOccurs" use="prohibited" />
							<attribute name="maxOccurs" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<group name="allModel">
					<sequence>
						<element ref="xs:annotation" minOccurs="0" />
						<choice minOccurs="0" maxOccurs="unbounded">
							<annotation>
								<documentation>
									This choice with min/max is here to avoid a pblm with the Elt:All/Choice/Seq Particle derivation constraint
								</documentation>
							</annotation>
							<element name="element" type="xs:narrowMaxMin" />
						</choice>
					</sequence>
				</group>
				<complexType name="narrowMaxMin">
					<annotation>
						<documentation>
							restricted max/min
						</documentation>
					</annotation>
					<complexContent>
						<restriction base="xs:localElement">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<choice minOccurs="0">
									<element name="simpleType" type="xs:localSimpleType" />
									<element name="complexType" type="xs:localComplexType" />
								</choice>
								<group ref="xs:identityConstraint" minOccurs="0" maxOccurs="unbounded" />
							</sequence>
							<attribute name="minOccurs" use="optional" default="1">
								<simpleType>
									<restriction base="xs:nonNegativeInteger">
										<enumeration value="0" />
										<enumeration value="1" />
									</restriction>
								</simpleType>
							</attribute>
							<attribute name="maxOccurs" use="optional" default="1">
								<simpleType>
									<restriction base="xs:allNNI">
										<enumeration value="0" />
										<enumeration value="1" />
									</restriction>
								</simpleType>
							</attribute>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="all">
					<annotation>
						<documentation>
							Only elements allowed inside
						</documentation>
					</annotation>
					<complexContent>
						<restriction base="xs:explicitGroup">
							<group ref="xs:allModel" />
							<attribute name="minOccurs" use="optional" default="1">
								<simpleType>
									<restriction base="xs:nonNegativeInteger">
										<enumeration value="0" />
										<enumeration value="1" />
									</restriction>
								</simpleType>
							</attribute>
							<attribute name="maxOccurs" use="optional" default="1">
								<simpleType>
									<restriction base="xs:allNNI">
										<enumeration value="1" />
									</restriction>
								</simpleType>
							</attribute>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="all" id="all" type="xs:all">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-all" />
					</annotation>
				</element>
				<element name="choice" type="xs:explicitGroup" id="choice">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-choice" />
					</annotation>
				</element>
				<element name="sequence" type="xs:explicitGroup" id="sequence">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-sequence" />
					</annotation>
				</element>
				<element name="group" type="xs:namedGroup" id="group">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-group" />
					</annotation>
				</element>
				<complexType name="wildcard">
					<complexContent>
						<extension base="xs:annotated">
							<attribute name="namespace" type="xs:namespaceList" use="optional" default="##any" />
							<attribute name="processContents" use="optional" default="strict">
								<simpleType>
									<restriction base="xs:NMTOKEN">
										<enumeration value="skip" />
										<enumeration value="lax" />
										<enumeration value="strict" />
									</restriction>
								</simpleType>
							</attribute>
						</extension>
					</complexContent>
				</complexType>
				<element name="any" id="any">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-any" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:wildcard">
								<attributeGroup ref="xs:occurs" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<annotation>
					<documentation>
						simple type for the value of the 'namespace' attr of 'any' and 'anyAttribute'
					</documentation>
				</annotation>
				<annotation>
					<documentation>
						Value is ##any - - any non-conflicting WFXML/attribute at all ##other - - any non-conflicting WFXML/attribute from namespace other than targetNS ##local - - any unqualified non-conflicting WFXML/attribute one or - - any non-conflicting WFXML/attribute from more URI the listed namespaces references (space separated) ##targetNamespace or ##local may appear in the above list, to refer to the targetNamespace of the enclosing schema or an absent targetNamespace respectively
					</documentation>
				</annotation>
				<simpleType name="namespaceList">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
					</annotation>
					<union>
						<simpleType>
							<restriction base="xs:token">
								<enumeration value="##any" />
								<enumeration value="##other" />
							</restriction>
						</simpleType>
						<simpleType>
							<list>
								<simpleType>
									<union memberTypes="xs:anyURI">
										<simpleType>
											<restriction base="xs:token">
												<enumeration value="##targetNamespace" />
												<enumeration value="##local" />
											</restriction>
										</simpleType>
									</union>
								</simpleType>
							</list>
						</simpleType>
					</union>
				</simpleType>
				<element name="attribute" type="xs:topLevelAttribute" id="attribute">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-attribute" />
					</annotation>
				</element>
				<complexType name="attributeGroup" abstract="true">
					<complexContent>
						<extension base="xs:annotated">
							<group ref="xs:attrDecls" />
							<attributeGroup ref="xs:defRef" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="namedAttributeGroup">
					<complexContent>
						<restriction base="xs:attributeGroup">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:attrDecls" />
							</sequence>
							<attribute name="name" use="required" type="xs:NCName" />
							<attribute name="ref" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="attributeGroupRef">
					<complexContent>
						<restriction base="xs:attributeGroup">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
							</sequence>
							<attribute name="ref" use="required" type="xs:QName" />
							<attribute name="name" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="attributeGroup" type="xs:namedAttributeGroup" id="attributeGroup">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-attributeGroup" />
					</annotation>
				</element>
				<element name="include" id="include">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-include" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<attribute name="schemaLocation" type="xs:anyURI" use="required" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="redefine" id="redefine">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-redefine" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:openAttrs">
								<choice minOccurs="0" maxOccurs="unbounded">
									<element ref="xs:annotation" />
									<group ref="xs:redefinable" />
								</choice>
								<attribute name="schemaLocation" type="xs:anyURI" use="required" />
								<attribute name="id" type="xs:ID" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="import" id="import">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-import" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<attribute name="namespace" type="xs:anyURI" />
								<attribute name="schemaLocation" type="xs:anyURI" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="selector" id="selector">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-selector" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<attribute name="xpath" use="required">
									<simpleType>
										<annotation>
											<documentation>
												A subset of XPath expressions for use in selectors
											</documentation>
											<documentation>
												A utility type, not for public use
											</documentation>
										</annotation>
										<restriction base="xs:token">
											<annotation>
												<documentation>
													The following pattern is intended to allow XPath expressions per the following EBNF: Selector ::= Path ( '|' Path )* Path ::= ('.//')? Step ( '/' Step )* Step ::= '.' | NameTest NameTest ::= QName | '*' | NCName ':' '*' child:: is also allowed
												</documentation>
											</annotation>
											<pattern value="(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*(\|(\.//)?(((child::)?((\i\c*:)?(\i\c*|\*)))|\.)(/(((child::)?((\i\c*:)?(\i\c*|\*)))|\.))*)*">
											</pattern>
										</restriction>
									</simpleType>
								</attribute>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="field" id="field">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-field" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<attribute name="xpath" use="required">
									<simpleType>
										<annotation>
											<documentation>
												A subset of XPath expressions for use in fields
											</documentation>
											<documentation>
												A utility type, not for public use
											</documentation>
										</annotation>
										<restriction base="xs:token">
											<annotation>
												<documentation>
													The following pattern is intended to allow XPath expressions per the same EBNF as for selector, with the following change: Path ::= ('.//')? ( Step '/' )* ( Step | '@' NameTest )
												</documentation>
											</annotation>
											<pattern value="(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*))))(\|(\.//)?((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)/)*((((child::)?((\i\c*:)?(\i\c*|\*)))|\.)|((attribute::|@)((\i\c*:)?(\i\c*|\*)))))*">
											</pattern>
										</restriction>
									</simpleType>
								</attribute>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<complexType name="keybase">
					<complexContent>
						<extension base="xs:annotated">
							<sequence>
								<element ref="xs:selector" />
								<element ref="xs:field" minOccurs="1" maxOccurs="unbounded" />
							</sequence>
							<attribute name="name" type="xs:NCName" use="required" />
						</extension>
					</complexContent>
				</complexType>
				<group name="identityConstraint">
					<annotation>
						<documentation>
							The three kinds of identity constraints, all with type of or derived from 'keybase'.
						</documentation>
					</annotation>
					<choice>
						<element ref="xs:unique" />
						<element ref="xs:key" />
						<element ref="xs:keyref" />
					</choice>
				</group>
				<element name="unique" type="xs:keybase" id="unique">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-unique" />
					</annotation>
				</element>
				<element name="key" type="xs:keybase" id="key">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-key" />
					</annotation>
				</element>
				<element name="keyref" id="keyref">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-keyref" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:keybase">
								<attribute name="refer" type="xs:QName" use="required" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="notation" id="notation">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-notation" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:annotated">
								<attribute name="name" type="xs:NCName" use="required" />
								<attribute name="public" type="xs:public" />
								<attribute name="system" type="xs:anyURI" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<simpleType name="public">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
						<documentation>
							A public identifier, per ISO 8879
						</documentation>
					</annotation>
					<restriction base="xs:token" />
				</simpleType>
				<element name="appinfo" id="appinfo">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-appinfo" />
					</annotation>
					<complexType mixed="true">
						<sequence minOccurs="0" maxOccurs="unbounded">
							<any processContents="lax" />
						</sequence>
						<attribute name="source" type="xs:anyURI" />
						<anyAttribute namespace="##other" processContents="lax" />
					</complexType>
				</element>
				<element name="documentation" id="documentation">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-documentation" />
					</annotation>
					<complexType mixed="true">
						<sequence minOccurs="0" maxOccurs="unbounded">
							<any processContents="lax" />
						</sequence>
						<attribute name="source" type="xs:anyURI" />
						<attribute ref="xml:lang" />
						<anyAttribute namespace="##other" processContents="lax" />
					</complexType>
				</element>
				<element name="annotation" id="annotation">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-1/#element-annotation" />
					</annotation>
					<complexType>
						<complexContent>
							<extension base="xs:openAttrs">
								<choice minOccurs="0" maxOccurs="unbounded">
									<element ref="xs:appinfo" />
									<element ref="xs:documentation" />
								</choice>
								<attribute name="id" type="xs:ID" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<annotation>
					<documentation>
						notations for use within XML Schema schemas
					</documentation>
				</annotation>
				<notation name="XMLSchemaStructures" public="structures" system="http://www.w3.org/2000/08/XMLSchema.xsd" />
				<notation name="XML" public="REC-xml-19980210" system="http://www.w3.org/TR/1998/REC-xml-19980210" />
				<complexType name="anyType" mixed="true">
					<annotation>
						<documentation>
							Not the real urType, but as close an approximation as we can get in the XML representation
						</documentation>
					</annotation>
					<sequence>
						<any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
					</sequence>
					<anyAttribute processContents="lax" />
				</complexType>
				<annotation>
					<documentation>
						First the built-in primitive datatypes. These definitions are for information only, the real built-in definitions are magic.
					</documentation>
					<documentation>
						For each built-in datatype in this schema (both primitive and derived) can be uniquely addressed via a URI constructed as follows: 1) the base URI is the URI of the XML Schema namespace 2) the fragment identifier is the name of the datatype For example, to address the int datatype, the URI is: http://www.w3.org/2001/XMLSchema#int Additionally, each facet definition element can be uniquely addressed via a URI constructed as follows: 1) the base URI is the URI of the XML Schema namespace 2) the fragment identifier is the name of the facet For example, to address the maxInclusive facet, the URI is: http://www.w3.org/2001/XMLSchema#maxInclusive Additionally, each facet usage in a built-in datatype definition can be uniquely addressed via a URI constructed as follows: 1) the base URI is the URI of the XML Schema namespace 2) the fragment identifier is the name of the datatype, followed by a period (".") followed by the name of the facet For example, to address the usage of the maxInclusive facet in the definition of int, the URI is: http://www.w3.org/2001/XMLSchema#int.maxInclusive
					</documentation>
				</annotation>
				<simpleType name="string" id="string">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#string" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="preserve" id="string.preserve" />
					</restriction>
				</simpleType>
				<simpleType name="boolean" id="boolean">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="finite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#boolean" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="boolean.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="float" id="float">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="total" />
							<hasProperty name="bounded" value="true" />
							<hasProperty name="cardinality" value="finite" />
							<hasProperty name="numeric" value="true" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#float" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="float.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="double" id="double">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="total" />
							<hasProperty name="bounded" value="true" />
							<hasProperty name="cardinality" value="finite" />
							<hasProperty name="numeric" value="true" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#double" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="double.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="decimal" id="decimal">
					<annotation>
						<appinfo>
							<hasFacet name="totalDigits" />
							<hasFacet name="fractionDigits" />
							<hasFacet name="pattern" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="enumeration" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="total" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="true" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#decimal" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="decimal.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="duration" id="duration">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#duration" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="duration.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="dateTime" id="dateTime">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#dateTime" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="dateTime.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="time" id="time">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#time" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="time.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="date" id="date">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#date" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="date.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="gYearMonth" id="gYearMonth">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#gYearMonth" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="gYearMonth.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="gYear" id="gYear">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#gYear" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="gYear.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="gMonthDay" id="gMonthDay">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#gMonthDay" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="gMonthDay.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="gDay" id="gDay">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#gDay" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="gDay.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="gMonth" id="gMonth">
					<annotation>
						<appinfo>
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="maxInclusive" />
							<hasFacet name="maxExclusive" />
							<hasFacet name="minInclusive" />
							<hasFacet name="minExclusive" />
							<hasProperty name="ordered" value="partial" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#gMonth" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="gMonth.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="hexBinary" id="hexBinary">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#binary" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="hexBinary.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="base64Binary" id="base64Binary">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#base64Binary" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="base64Binary.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="anyURI" id="anyURI">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#anyURI" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="anyURI.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="QName" id="QName">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#QName" />
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="QName.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="NOTATION" id="NOTATION">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="pattern" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#NOTATION" />
						<documentation>
							NOTATION cannot be used directly in a schema; rather a type must be derived from it by specifying at least one enumeration facet whose value is the name of a NOTATION declared in the schema.
						</documentation>
					</annotation>
					<restriction base="xs:anySimpleType">
						<whiteSpace value="collapse" fixed="true" id="NOTATION.whiteSpace" />
					</restriction>
				</simpleType>
				<annotation>
					<documentation>
						Now the derived primitive types
					</documentation>
				</annotation>
				<simpleType name="normalizedString" id="normalizedString">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#normalizedString" />
					</annotation>
					<restriction base="xs:string">
						<whiteSpace value="replace" id="normalizedString.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="token" id="token">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#token" />
					</annotation>
					<restriction base="xs:normalizedString">
						<whiteSpace value="collapse" id="token.whiteSpace" />
					</restriction>
				</simpleType>
				<simpleType name="language" id="language">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#language" />
					</annotation>
					<restriction base="xs:token">
						<pattern value="[a-zA-Z]{1,8}(-[a-zA-Z0-9]{1,8})*" id="language.pattern">
							<annotation>
								<documentation source="http://www.ietf.org/rfc/rfc3066.txt">
									pattern specifies the content of section 2.12 of XML 1.0e2 and RFC 3066 (Revised version of RFC 1766).
								</documentation>
							</annotation>
						</pattern>
					</restriction>
				</simpleType>
				<simpleType name="IDREFS" id="IDREFS">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="pattern" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#IDREFS" />
					</annotation>
					<restriction>
						<simpleType>
							<list itemType="xs:IDREF" />
						</simpleType>
						<minLength value="1" id="IDREFS.minLength" />
					</restriction>
				</simpleType>
				<simpleType name="ENTITIES" id="ENTITIES">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="pattern" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#ENTITIES" />
					</annotation>
					<restriction>
						<simpleType>
							<list itemType="xs:ENTITY" />
						</simpleType>
						<minLength value="1" id="ENTITIES.minLength" />
					</restriction>
				</simpleType>
				<simpleType name="NMTOKEN" id="NMTOKEN">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#NMTOKEN" />
					</annotation>
					<restriction base="xs:token">
						<pattern value="\c+" id="NMTOKEN.pattern">
							<annotation>
								<documentation source="http://www.w3.org/TR/REC-xml#NT-Nmtoken">
									pattern matches production 7 from the XML spec
								</documentation>
							</annotation>
						</pattern>
					</restriction>
				</simpleType>
				<simpleType name="NMTOKENS" id="NMTOKENS">
					<annotation>
						<appinfo>
							<hasFacet name="length" />
							<hasFacet name="minLength" />
							<hasFacet name="maxLength" />
							<hasFacet name="enumeration" />
							<hasFacet name="whiteSpace" />
							<hasFacet name="pattern" />
							<hasProperty name="ordered" value="false" />
							<hasProperty name="bounded" value="false" />
							<hasProperty name="cardinality" value="countably infinite" />
							<hasProperty name="numeric" value="false" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#NMTOKENS" />
					</annotation>
					<restriction>
						<simpleType>
							<list itemType="xs:NMTOKEN" />
						</simpleType>
						<minLength value="1" id="NMTOKENS.minLength" />
					</restriction>
				</simpleType>
				<simpleType name="Name" id="Name">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#Name" />
					</annotation>
					<restriction base="xs:token">
						<pattern value="\i\c*" id="Name.pattern">
							<annotation>
								<documentation source="http://www.w3.org/TR/REC-xml#NT-Name">
									pattern matches production 5 from the XML spec
								</documentation>
							</annotation>
						</pattern>
					</restriction>
				</simpleType>
				<simpleType name="NCName" id="NCName">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#NCName" />
					</annotation>
					<restriction base="xs:Name">
						<pattern value="[\i-[:]][\c-[:]]*" id="NCName.pattern">
							<annotation>
								<documentation source="http://www.w3.org/TR/REC-xml-names/#NT-NCName">
									pattern matches production 4 from the Namespaces in XML spec
								</documentation>
							</annotation>
						</pattern>
					</restriction>
				</simpleType>
				<simpleType name="ID" id="ID">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#ID" />
					</annotation>
					<restriction base="xs:NCName" />
				</simpleType>
				<simpleType name="IDREF" id="IDREF">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#IDREF" />
					</annotation>
					<restriction base="xs:NCName" />
				</simpleType>
				<simpleType name="ENTITY" id="ENTITY">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#ENTITY" />
					</annotation>
					<restriction base="xs:NCName" />
				</simpleType>
				<simpleType name="integer" id="integer">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#integer" />
					</annotation>
					<restriction base="xs:decimal">
						<fractionDigits value="0" fixed="true" id="integer.fractionDigits" />
						<pattern value="[\-+]?[0-9]+" />
					</restriction>
				</simpleType>
				<simpleType name="nonPositiveInteger" id="nonPositiveInteger">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#nonPositiveInteger" />
					</annotation>
					<restriction base="xs:integer">
						<maxInclusive value="0" id="nonPositiveInteger.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="negativeInteger" id="negativeInteger">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#negativeInteger" />
					</annotation>
					<restriction base="xs:nonPositiveInteger">
						<maxInclusive value="-1" id="negativeInteger.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="long" id="long">
					<annotation>
						<appinfo>
							<hasProperty name="bounded" value="true" />
							<hasProperty name="cardinality" value="finite" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#long" />
					</annotation>
					<restriction base="xs:integer">
						<minInclusive value="-9223372036854775808" id="long.minInclusive" />
						<maxInclusive value="9223372036854775807" id="long.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="int" id="int">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#int" />
					</annotation>
					<restriction base="xs:long">
						<minInclusive value="-2147483648" id="int.minInclusive" />
						<maxInclusive value="2147483647" id="int.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="short" id="short">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#short" />
					</annotation>
					<restriction base="xs:int">
						<minInclusive value="-32768" id="short.minInclusive" />
						<maxInclusive value="32767" id="short.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="byte" id="byte">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#byte" />
					</annotation>
					<restriction base="xs:short">
						<minInclusive value="-128" id="byte.minInclusive" />
						<maxInclusive value="127" id="byte.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="nonNegativeInteger" id="nonNegativeInteger">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#nonNegativeInteger" />
					</annotation>
					<restriction base="xs:integer">
						<minInclusive value="0" id="nonNegativeInteger.minInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="unsignedLong" id="unsignedLong">
					<annotation>
						<appinfo>
							<hasProperty name="bounded" value="true" />
							<hasProperty name="cardinality" value="finite" />
						</appinfo>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#unsignedLong" />
					</annotation>
					<restriction base="xs:nonNegativeInteger">
						<maxInclusive value="18446744073709551615" id="unsignedLong.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="unsignedInt" id="unsignedInt">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#unsignedInt" />
					</annotation>
					<restriction base="xs:unsignedLong">
						<maxInclusive value="4294967295" id="unsignedInt.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="unsignedShort" id="unsignedShort">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#unsignedShort" />
					</annotation>
					<restriction base="xs:unsignedInt">
						<maxInclusive value="65535" id="unsignedShort.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="unsignedByte" id="unsignedByte">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#unsignedByte" />
					</annotation>
					<restriction base="xs:unsignedShort">
						<maxInclusive value="255" id="unsignedByte.maxInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="positiveInteger" id="positiveInteger">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#positiveInteger" />
					</annotation>
					<restriction base="xs:nonNegativeInteger">
						<minInclusive value="1" id="positiveInteger.minInclusive" />
					</restriction>
				</simpleType>
				<simpleType name="derivationControl">
					<annotation>
						<documentation>
							A utility type, not for public use
						</documentation>
					</annotation>
					<restriction base="xs:NMTOKEN">
						<enumeration value="substitution" />
						<enumeration value="extension" />
						<enumeration value="restriction" />
						<enumeration value="list" />
						<enumeration value="union" />
					</restriction>
				</simpleType>
				<group name="simpleDerivation">
					<choice>
						<element ref="xs:restriction" />
						<element ref="xs:list" />
						<element ref="xs:union" />
					</choice>
				</group>
				<simpleType name="simpleDerivationSet">
					<annotation>
						<documentation>
							#all or (possibly empty) subset of {restriction, union, list}
						</documentation>
						<documentation>
							A utility type, not for public use
						</documentation>
					</annotation>
					<union>
						<simpleType>
							<restriction base="xs:token">
								<enumeration value="#all" />
							</restriction>
						</simpleType>
						<simpleType>
							<list>
								<simpleType>
									<restriction base="xs:derivationControl">
										<enumeration value="list" />
										<enumeration value="union" />
										<enumeration value="restriction" />
									</restriction>
								</simpleType>
							</list>
						</simpleType>
					</union>
				</simpleType>
				<complexType name="simpleType" abstract="true">
					<complexContent>
						<extension base="xs:annotated">
							<group ref="xs:simpleDerivation" />
							<attribute name="final" type="xs:simpleDerivationSet" />
							<attribute name="name" type="xs:NCName">
								<annotation>
									<documentation>
										Can be restricted to required or forbidden
									</documentation>
								</annotation>
							</attribute>
						</extension>
					</complexContent>
				</complexType>
				<complexType name="topLevelSimpleType">
					<complexContent>
						<restriction base="xs:simpleType">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:simpleDerivation" />
							</sequence>
							<attribute name="name" use="required" type="xs:NCName">
								<annotation>
									<documentation>
										Required at the top level
									</documentation>
								</annotation>
							</attribute>
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<complexType name="localSimpleType">
					<complexContent>
						<restriction base="xs:simpleType">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
								<group ref="xs:simpleDerivation" />
							</sequence>
							<attribute name="name" use="prohibited">
								<annotation>
									<documentation>
										Forbidden when nested
									</documentation>
								</annotation>
							</attribute>
							<attribute name="final" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="simpleType" type="xs:topLevelSimpleType" id="simpleType">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-simpleType" />
					</annotation>
				</element>
				<group name="facets">
					<annotation>
						<documentation>
							We should use a substitution group for facets, but that's ruled out because it would allow users to add their own, which we're not ready for yet.
						</documentation>
					</annotation>
					<choice>
						<element ref="xs:minExclusive" />
						<element ref="xs:minInclusive" />
						<element ref="xs:maxExclusive" />
						<element ref="xs:maxInclusive" />
						<element ref="xs:totalDigits" />
						<element ref="xs:fractionDigits" />
						<element ref="xs:length" />
						<element ref="xs:minLength" />
						<element ref="xs:maxLength" />
						<element ref="xs:enumeration" />
						<element ref="xs:whiteSpace" />
						<element ref="xs:pattern" />
					</choice>
				</group>
				<group name="simpleRestrictionModel">
					<sequence>
						<element name="simpleType" type="xs:localSimpleType" minOccurs="0" />
						<group ref="xs:facets" minOccurs="0" maxOccurs="unbounded" />
					</sequence>
				</group>
				<element name="restriction" id="restriction">
					<complexType>
						<annotation>
							<documentation source="http://www.w3.org/TR/xmlschema-2/#element-restriction">
								base attribute and simpleType child are mutually exclusive, but one or other is required
							</documentation>
						</annotation>
						<complexContent>
							<extension base="xs:annotated">
								<group ref="xs:simpleRestrictionModel" />
								<attribute name="base" type="xs:QName" use="optional" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="list" id="list">
					<complexType>
						<annotation>
							<documentation source="http://www.w3.org/TR/xmlschema-2/#element-list">
								itemType attribute and simpleType child are mutually exclusive, but one or other is required
							</documentation>
						</annotation>
						<complexContent>
							<extension base="xs:annotated">
								<sequence>
									<element name="simpleType" type="xs:localSimpleType" minOccurs="0" />
								</sequence>
								<attribute name="itemType" type="xs:QName" use="optional" />
							</extension>
						</complexContent>
					</complexType>
				</element>
				<element name="union" id="union">
					<complexType>
						<annotation>
							<documentation source="http://www.w3.org/TR/xmlschema-2/#element-union">
								memberTypes attribute must be non-empty or there must be at least one simpleType child
							</documentation>
						</annotation>
						<complexContent>
							<extension base="xs:annotated">
								<sequence>
									<element name="simpleType" type="xs:localSimpleType" minOccurs="0" maxOccurs="unbounded" />
								</sequence>
								<attribute name="memberTypes" use="optional">
									<simpleType>
										<list itemType="xs:QName" />
									</simpleType>
								</attribute>
							</extension>
						</complexContent>
					</complexType>
				</element>
				<complexType name="facet">
					<complexContent>
						<extension base="xs:annotated">
							<attribute name="value" use="required" />
							<attribute name="fixed" type="xs:boolean" use="optional" default="false" />
						</extension>
					</complexContent>
				</complexType>
				<complexType name="noFixedFacet">
					<complexContent>
						<restriction base="xs:facet">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
							</sequence>
							<attribute name="fixed" use="prohibited" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="minExclusive" id="minExclusive" type="xs:facet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-minExclusive" />
					</annotation>
				</element>
				<element name="minInclusive" id="minInclusive" type="xs:facet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-minInclusive" />
					</annotation>
				</element>
				<element name="maxExclusive" id="maxExclusive" type="xs:facet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-maxExclusive" />
					</annotation>
				</element>
				<element name="maxInclusive" id="maxInclusive" type="xs:facet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-maxInclusive" />
					</annotation>
				</element>
				<complexType name="numFacet">
					<complexContent>
						<restriction base="xs:facet">
							<sequence>
								<element ref="xs:annotation" minOccurs="0" />
							</sequence>
							<attribute name="value" type="xs:nonNegativeInteger" use="required" />
							<anyAttribute namespace="##other" processContents="lax" />
						</restriction>
					</complexContent>
				</complexType>
				<element name="totalDigits" id="totalDigits">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-totalDigits" />
					</annotation>
					<complexType>
						<complexContent>
							<restriction base="xs:numFacet">
								<sequence>
									<element ref="xs:annotation" minOccurs="0" />
								</sequence>
								<attribute name="value" type="xs:positiveInteger" use="required" />
								<anyAttribute namespace="##other" processContents="lax" />
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="fractionDigits" id="fractionDigits" type="xs:numFacet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-fractionDigits" />
					</annotation>
				</element>
				<element name="length" id="length" type="xs:numFacet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-length" />
					</annotation>
				</element>
				<element name="minLength" id="minLength" type="xs:numFacet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-minLength" />
					</annotation>
				</element>
				<element name="maxLength" id="maxLength" type="xs:numFacet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-maxLength" />
					</annotation>
				</element>
				<element name="enumeration" id="enumeration" type="xs:noFixedFacet">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-enumeration" />
					</annotation>
				</element>
				<element name="whiteSpace" id="whiteSpace">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-whiteSpace" />
					</annotation>
					<complexType>
						<complexContent>
							<restriction base="xs:facet">
								<sequence>
									<element ref="xs:annotation" minOccurs="0" />
								</sequence>
								<attribute name="value" use="required">
									<simpleType>
										<restriction base="xs:NMTOKEN">
											<enumeration value="preserve" />
											<enumeration value="replace" />
											<enumeration value="collapse" />
										</restriction>
									</simpleType>
								</attribute>
								<anyAttribute namespace="##other" processContents="lax" />
							</restriction>
						</complexContent>
					</complexType>
				</element>
				<element name="pattern" id="pattern">
					<annotation>
						<documentation source="http://www.w3.org/TR/xmlschema-2/#element-pattern" />
					</annotation>
					<complexType>
						<complexContent>
							<restriction base="xs:noFixedFacet">
								<sequence>
									<element ref="xs:annotation" minOccurs="0" />
								</sequence>
								<attribute name="value" type="xs:string" use="required" />
								<anyAttribute namespace="##other" processContents="lax" />
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</group>
		</complexType>
	</annotation>
</schema>
